<html>
    <head>
        <title><%= movies.title %></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="/styles.css">        
    </head>

    <body>
        <div class="container">
            <div id="movie-details">
                <h1 class="text-center"><%= movies.title %></h1>
                <div class="row">
                    <div class="col-xs-5">
                        <img class="movie-poster" src=<%= movies.poster %> />
                    </div>
                    <div class="col-xs-7">
                        <table class="table">
                            <% /*  ----------------------------------------------
                            Repeat the following HTML structure for all key value pairs in movie object
                            -------------------------------------------------- */ %>
                            
                            <% for(var key in movies) { %>
                            <% if (key != 'title' && key !=  'poster' && key !=  'id' && key != 'type') { %>
                                <tr>
                                <td class="movie-keys"><%= key.toLocaleUpperCase()  %></td>
                                <td><%= movies[key] %></td>
                            </tr>
                            <% } %>
                            <% } %>
                            <% /*  ----------------------------------------------
                            -------------------------------------------------- */ %>
                        </table>
                    </div>    
                </div>

                <div class="row">
                    <div class=buttons>
                        <a class="btn btn-primary" href=<%= '../' %>>Back</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

